{% load static %}

<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт - визитка</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="icon" href="{% static 'main/img/favicon.ico' %}">
</head>
<body>
    <header>
        {% block header %}

        {% endblock %}
    </header>

    <nav class="navbar">
        {% include 'main/navbar.html' %}
    </nav>

    <main>
        {% block content %}
        <!-- Основное содержимое страницы -->
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <aside class="footer">
            {% include 'main/footer.html' %}
        </aside>
        {% endblock %}
    </footer>
</body>
</html>