{% extends "main/layoute.html" %}
{% load static %}

{% block title %}Новости{% endblock %}


{% block content %}
<section class="news-section">
   <div class="container">
        <h1>Последние новости</h1>

        {% for post in news %}
        <article class="news-card" style="width: 60rem;">
            <div class="card-header">
                <h2><a href="{% url 'news_detail' post.slug %}">{{ post.title }}</a></h2>
                <span class="post-date">
                    <i class="far fa-calendar-alt"></i> {{ post.pub_date|date:"d.m.Y H:i" }}
                </span>
                <span class="post-author">
                    <i class="fas fa-user"></i> {{ post.author.username }}
                </span>
                {% if post.is_published %}
                <span class="post-status">
                    <i class="fas fa-check-circle"></i> Опубликовано
                </span>
                {% else %}
                <span class="post-status">
                    <i class="fas fa-times-circle"></i> Скрыто
                </span>
                {% endif %}
            </div>
            <div class="post-content">
                {{ post.content|linebreaks }}
            </div>
            <div class="card-footer">
                <a href="{% url 'news_detail' post.slug %}" class="read-more-btn">
                    <span class="read-more-text">Читать полностью</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        </article>
         {% empty %}
         <p>Пока нет новостей.</p>
        {% endfor %}
   </div>

</section>

{% endblock %}